<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur sacapus</title>
</head>
<body>

Bonjour!

<a href="login.php">Connectez-vous</a> ou <a href="register.php">inscrivez-vous</a> dès maintenent!


</body>
</html>