<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription réussie</title>
</head>
<body>

Vous pouvez maintenent <a href="login.php">vous connecter</a>

</body>
</html>